.menuBar {
  width: 18rem;
  margin: 20px auto;
  margin-bottom: 0.2rem;
  height: 210px;
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.menuList {
  height: 40px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: column;
}
li {
  line-height: 1.2;
  display: block;
  font-size: 20px;
  justify-content: flex-start;
  position: relative;
  padding: 5px;
}
li.active {
  background-color: aqua;
  width: 150px;
  padding: 2.5px 10px;
  background-image: url("../assets/menuRightIcon.svg");
  background-repeat: no-repeat;
  background-position: 100px;
  border-radius: 4px;
}
.menuRight {
  position: absolute;
  left: 100px;
  top: 8px;
}
li.active {
  background-color: rgba(33, 33, 34, 0.171);
  width: 150px;
  padding: 2.5px 10px;
  background-image: url("../assets/menuRightIcon.svg");
  background-repeat: no-repeat;
  background-position: 9.5rem;
  border-radius: 4px;
}
.inActive {
  transition: all 2s ease-out;
  opacity: 0;
}
.inActive::before {
  content: "POWERING OFF!";
  background: aliceblue;
}
