.setting img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.setting {
  width: 280px;
  margin: 100px auto;
  margin-bottom: 0;
  height: 200px;
  background-color: brown;
}
.back {
  cursor: pointer;
  margin-top: 50px;
}
