.topbar {
  height: 500px;
  width: 300px;
  margin: 0 auto;
  border: 2px solid black;
  margin-top: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  box-shadow: 2px 30px 15px #888888;
}
.cameraIcon {
  height: 12px;
  width: 12px;
  position: absolute;
  top: 0.4rem;
  left: 8.5rem;
}
